{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "/css/bootstrap.css"%}">
    <link rel="stylesheet" href="{% static "/css/navbar.css"%}">
    <link rel="stylesheet" href="{% static "/css/swiper.css"%}">
    <link rel="stylesheet" href="{% static "/css/style.css"%}">
    <link rel="stylesheet" href="{% static "/css/login.css"%}">
    <title>Moustachir</title>
</head>
<body>
    <div id="carouselExampleInterval" class="carousel slide" id="header" data-bs-ride="carousel"> 
        <div class="container-fluid"> 
            <div class="heading">
              <header class="header">
                <nav class="navbar navbar-expand-lg bg-light">
                    
                      <a class="navbar-brand" href="/">
                        <img src="{% static "/img/logo.svg"%}" alt="">
                        <h1>MOUSTACHIR</h1>
                      </a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">الصفحة الرئيسية</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#about">نبذة عن مستشير</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#adviser">مستشــــــارينــا</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#serv">الإستشــــــارت</a>
                          </li>
                          
                        </ul>
                        <div class="icon">
                            <a class="nav-link" href="/login"><img src="{% static "/img/account.svg"%}" alt=""></a>
                            <a class="nav-link" href="#"><img src="{% static "/img/notif.svg"%}" alt=""></a>
                        </div>
                      </div>
                  </nav>
               </header>
               {% block content1 %}{% endblock %}
            </div>
            
            {% block content2 %}{% endblock %}
    </div>
    
    
    </div>
  <footer id="footer">
    <div class="container-fluid">
        <div class="footer">
            <ul class="contact-info">
              <li class="title">
                معلومات الإتصـــال
              </li>
              <li>
                الهاتف : 0600000000
              </li>
              <li>
                البريد الإلأكتروني : contact@moustachir.com
              </li>
              <li>
                العنوان : حي الحدائق الجزائر العاصمة
              </li>
            </ul>
            <div class="logo">

              <img src="{% static "/img/white-logo.svg"%}" alt="" class="logo-pict">
              <div class="icons">
                <a href="#"><img src="{% static "/img/light-icon1.svg"%}" alt=""></a>
                <a href="#"><img src="{% static "/img/light-icon2.svg"%}" alt=""></a>
                <a href="#"><img src="{% static "/img/light-icon3.svg"%}" alt=""></a>
              </div>
              <h3>كل الحقوق محفوظة © مستشير 2022</h3>

            </div>
            <ul class="links">
              <li class="title">
                روابط مفيدة
              </li>
              <li>
               <a href="#">
                الإستشــــــارت التقنيـــــــة
               </a>
              </li>
              <li>
                <a href="#">
                  إستشارات مالية
                </a>
               </li>
               <li>
                <a href="#">
                  إستشارات دراسية
                </a>
               </li>
               <li>
                <a href="#">
                  إستشارات إقتصادية
                </a>
               </li>
             
            </ul>
        </div>
    </div>
  </footer>


    


    <script src="{% static "/js/bootstrap.js"%}"></script>  
    <script src="{% static "/js/swiper.js"%}"></script>
    <script src="{% static "/js/index.js"%}"></script> 
</body>
</html>