{% extends "base_html.html" %}


{% load static %}
{% block content1 %}
       
              <div class="carousel-inner">
                <div class="carousel-item active"  id="slide1">
                  <div class="slide1">
                    
                      <div class="logo">
                        <img src="{% static "/img/big-logo-dark.svg"%}" alt="">
                        <h1>MOUSTACHIR</h1>
                        <h1>مـسـتـشـيـــــــــر</h1>  
                      </div>
                        <div class="desc">
                            <h1 class="titleareng">مستشير -  MOUSTACHIR</h1>
                            <div class="par">   مستشير هي أول منصة إستشارات في الجزائر، تتيح لك<br>
                                فرصة الحصول على إستشارات من طرف أفضل الشخصيات <br>
                                  الفاعلة في مختلف المجالات .
                            </div>
                            <div class="bttn">
            
                                <button class="call"><a href="#">تواصل معنــا</a></button>
                                <button class="request"><a href="#">طلب إستشارة</a></button>
                            </div>
                        </div>
                    
                    
                  </div>
                </div>
                <div class="carousel-item"  id="slide2">
                  <img src="{% static "/img/slide2.png"%}" class="d-block w-100 slide" alt="...">
                </div>
                <div class="carousel-item"  id="slide3">
                  <img src="{% static "/img/slide3.png"%}" class="d-block w-100 slide" alt="...">
                </div>
            
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            

              {% endblock %}
{% block content2 %}
            <!-- part 3-->
            <div class="about" id="about" >
                <img src="{% static "/img/white-bg-logo.svg"%}"  class="logo-bg" alt="">
                <div class="container-fluid">
                  
                  <h1>نبذة عن مستشير</h1>
                  <div class="about-pict">
                    <img src="{% static "/img/Allura Feedback Session.png"%}" alt="">
                  </div>
                  <div class="about-text">
                    <p>
                      مستشير هي أول منصة استشارات في الجزائر لحجز أي استشارة في أي <br   >
                      مجال تريده مع أشخاص ذو خبرة عالية لمساعدتكم في اتخاذ قراراتكم ونزع <br  >
                      الشكوك التي تراودك كمستشير هي أول منصة استشارات في الجزائر لحجز أي <br  >
                      استشارة في أي مجال تريده مع أشخاص ذو خبرة عالية لمساعدتكم في <br  >
                      اتخاذ قراراتكم ونزع الشكوك التي تراودكم مستشير هي أول منصة <br  >
                      استشارات في الجزائر لحجز أي استشارة في أي مجال تريده مع أشخاص ذو <br  >
                      خبرة عالية لمساعدتكم في اتخاذ قراراتكم ونزع الشكوك التي تراودكم <br  >
                      مستشير هي أول منصة استشارات في الجزائر لحجز أي استشارة في أي <br  >
                      مجال تريده مع أشخاص ذو خبرة عالية لمساعدتكم في اتخاذ قراراتكم ونزع <br  >
                      الشكوك التي تراودكم
                      </p>
                  </div>
                </div>
            
              </div>
    
    
    <!--part 4-->
    <div class="adviser" id="adviser">
        <div class="container-fluid">
          <div class="slide-container swiper">
            <div class="slide-content">
              <h1>مستشــــــارينــا</h1>
              <div class="card-wrapper swiper-wrapper">
                <div class="card swiper-slide">
                    <img src="{% static "/img/YESSS_Plan de travail 1 5.svg"%}" alt="">
                    <h4>الدكتــور ريــاض بغــدادي 1</h4>
                </div>
                <div class="card swiper-slide">
                  
                  <img src="{% static "/img/YESSS_Plan de travail 1 5.svg"%}" alt="">
                  <h4>الدكتــور ريــاض بغــدادي 2</h4>
                
                </div>
                <div class="card swiper-slide">
                  
                <img src="{% static "/img/YESSS_Plan de travail 1 5.svg"%}" alt="">
                <h4>الدكتــور ريــاض بغــدادي 3</h4>
              
                </div>
                <div class="card swiper-slide">
                  
              <img src="{% static "/img/YESSS_Plan de travail 1 5.svg"%}" alt="">
              <h4>الدكتــور ريــاض بغــدادي 4</h4>
            
                </div>
                <div class="card swiper-slide">
                  
            <img src="{% static "/img/YESSS_Plan de travail 1 5.svg"%}" alt="">
            <h4>الدكتــور ريــاض بغــدادي 5</h4>
          
                </div>
                <div class="card swiper-slide">
                  
          <img src="{% static "/img/YESSS_Plan de travail 1 5.svg"%}" alt="">
          <h4>الدكتــور ريــاض بغــدادي 6</h4>
        
                </div>
              </div>
            </div>
            <div class="swiper-button-next  change-btn"></div>
          <div class="swiper-button-prev change-btn" ></div>
          <div class="swiper-pagination"></div>
          </div>
          <div class="why">
            <h1>لماذا تختار خدماتنا</h1>
            <div class="strength">
                <div class="our-str">
                    <img src="{% static "/img/icon11.svg"%}" alt="">
                    <div class="text">
                        <h2>تواصل مع مستشارين اكفاء</h2>
                        <h4>نوفر لك افضل اكفاء المستشارين في الجزائـــــر</h4>
                    </div>
                </div>
                <div class="our-str">
                  <img src="{% static "/img/icon12.svg"%}" alt="">
                  <div class="text">
                      <h2>تواصل مع مستشارين اكفاء</h2>
                      <h4>نوفر لك افضل اكفاء المستشارين في الجزائـــــر</h4>
                  </div>
              </div>
              <div class="our-str">
                <img src="{% static "/img/icon13.svg"%}" alt="">
                <div class="text">
                    <h2>تواصل مع مستشارين اكفاء</h2>
                    <h4>نوفر لك افضل اكفاء المستشارين في الجزائـــــر</h4>
                </div>
            </div>
            <div class="our-str">
              <img src="{% static "/img/icon14.svg"%}" alt="">
              <div class="text">
                  <h2>تواصل مع مستشارين اكفاء</h2>
                  <h4>نوفر لك افضل اكفاء المستشارين في الجزائـــــر</h4>
              </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    
            
                    <!--part 5-->
    <div class="serv" id="serv">
                      <img src="{% static "/img/two-rectangle.svg"%}" alt="" id="rect">
                      <div class="container-fluid">
                  
                        <div class="services">
                          <h1>خــــدمـــــاتنــــــــــــا</h1>
                          <div class="strength">
                              <a href="/cons" class="our-str">
                                  <img src="{% static "/img/serv-familiale.svg"%}" alt="">
                                  <div class="text">
                                      <h2>إستشارات أسرية إجتماعية</h2>    
                                  </div>
                              </a>
                              <a href="/cons" class="our-str">
                                <img src="{% static "/img/serv-tech.svg"%}" alt="">
                                <div class="text">
                                      <h2>إستشارات تقنيـــــــة</h2>    
                                </div>
                            </a>
                            <a href="/cons" class="our-str">
                              <img src="{% static "/img/serv-psycho.svg"%}" alt="">
                              <div class="text">
                                      <h2>إستشارات نفسية</h2>    
                              </div>
                          </a>
                          <a href="/cons" class="our-str">
                            <img src="{% static "/img/serv-eco.svg"%}" alt="">
                            <div class="text">
                                      <h2>إستشارات إقتصادية</h2>    
                            </div>
                          </a>
                          <a href="/cons" class="our-str">
                            <img src="{% static "/img/serv-medical.svg"%}" alt="">
                            <div class="text">
                                <h2>إستشارات صحية
                                </h2>    
                            </div>
                        </a>
                        <a href="/cons" class="our-str">
                          <img src="{% static "/img/serv-financiere.svg"%}" alt="">
                          <div class="text">
                                <h2>إستشارات مالية</h2>    
                          </div>
                      </a>
                      <a href="/cons" class="our-str">
                        <img src="{% static "/img/serv-scolaire.svg"%}" alt="">
                        <div class="text">
                                <h2>إستشارات دراسية</h2>    
                        </div>
                    </a>
                    <a href="/cons" class="our-str">
                      <img src="{% static "/img/serv-regle.svg"%}" alt="">
                      <div class="text">
                                <h2>إستشارات قانونية</h2>    
                      </div>
                        </a>
                      </div>
                      </div>
                    </div>
                    <img src="{% static "/img/top-logo.svg"%}" alt="" id="top">
    </div>




    <div class="contactus" id="contactus">
      <img src="{% static "/img/bottom-logo.svg"%}" alt="" id="bottom">
    <div class="container-fluid">
        <div class="contact">
          <h1>قـم بـمـراسـلـتـــنا</h1>
          <div class="social">
            <img src="{% static "/img/social.svg"%}" alt="">
            <h3>يمكنك ايضا مراسلتنا عبر مواقع التواصل الإجتماعي</h3>
            <div class="icons">
              <a href="#"><img src="{% static "/img/twitter.svg"%}" alt=""></a>
              <a href="#"><img src="{% static "/img/insta.svg"%}" alt=""></a>
              <a href="#"><img src="{% static "/img/facebook.svg"%}" alt=""></a>
            </div>
          </div>
          <form action="">
            <input type="text" name="" id="" placeholder="الإسم الكامل">
            <input type="text" name="" id="" placeholder="البريد الإلكتروني">
            <textarea name="" id="" cols="30" placeholder="رسالتــــــك" rows="10"></textarea>
            <input type="submit" value="ارســـــــــــل" id="sub">
          </form>
        </div>
    </div>
  </div>

  {% endblock %}

    


